# Node modules
node_modules/
/dist

# Log files
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
pnpm-lock.yaml
.npm/
.pnpm-store/

# Local env files
.env.local
.env.*.local

# Editor/OS files
.DS_Store
.idea/
.vscode/
*.local.yml

package-lock.json